<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-callnotification" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Receveing Call Notification</name>
    <license>MIT</license>
    <keywords>cordova,notification,call</keywords>

    <dependency id="cordova-plugin-firebasex" url="https://github.com/lucasveronezzi/cordova-plugin-firebasex.git#cli_build" />

    <engines>
        <engine name="cordova" version=">=9" />
        <engine name="cordova-android" version=">=8" />
    </engines>

    <js-module name="CallNotification" src="www/CallNotification.js">
        <clobbers target="cordova.plugins.CallNotification" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CallNotification" >
                <param name="android-package" value="org.apache.cordova.callnotification.CallNotification"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <activity 
                android:theme="@android:style/Theme.NoTitleBar"
                android:excludeFromRecents="true" 
                android:launchMode="singleTask" 
                android:name="org.apache.cordova.callnotification.ReceveingCallActivity" 
                android:parentActivityName="MainActivity" 
                android:taskAffinity="" 
            />
            <receiver android:exported="false" android:name="org.apache.cordova.callnotification.HandlerMessage$JoinCallReceiver" />
            <receiver android:exported="false" android:name="org.apache.cordova.callnotification.HandlerMessage$RefuseCallReceiver" />
        </config-file>
        <source-file src="src/android/CallNotification.java" target-dir="src/org/apache/cordova/callnotification" />
        <source-file src="src/android/HandlerMessage.java" target-dir="src/org/apache/cordova/callnotification" />
        <source-file src="src/android/ReceveingCallActivity.java" target-dir="src/org/apache/cordova/callnotification" />
        <source-file src="src/android/activity_receveing_call.xml" target-dir="res/layout"/>

        <resource-file src="src/android/res/drawable/circle_blue.xml" target="app/src/main/res/drawable/circle_blue.xml" />
        <resource-file src="src/android/res/drawable/circle_red.xml" target="app/src/main/res/drawable/circle_red.xml" />
        <resource-file src="src/android/res/drawable/circular_bordershape.xml" target="app/src/main/res/drawable/circular_bordershape.xml" />
        <resource-file src="src/android/res/drawable/ic_call_end_24dp.xml" target="app/src/main/res/drawable/ic_call_end_24dp.xml" />
        <resource-file src="src/android/res/drawable/ic_videocam_24dp.xml" target="app/src/main/res/drawable/ic_videocam_24dp.xml" />
        <resource-file src="src/android/res/drawable/icon_call_end.xml" target="app/src/main/res/drawable/icon_call_end.xml" />
        <resource-file src="src/android/res/drawable/icon_video.xml" target="app/src/main/res/drawable/icon_video.xml" />
    </platform>
    
</plugin>
